@import-normalize;

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* Font-size scales 
   10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
*/

/* Spacing scales
   2/4/8/12/16/24/32/48/64/80/96/128
*/
