html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  border: 0.5px solid transparent;
}

@import-normalize
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');